<%= error_messages_for(@section) %> 
<table>
  		
      <tr>
  			<th><%= f.label(:name) %></th>
  			<td><%= f.text_field(:name) %></td>
  		</tr>
  		<tr>
  			<th><%= f.label(:position) %></th>
  			<td><%= f.select(:position, 1..@section_count) %></td>
  		</tr>
  		<tr>
        <th><%= f.label(:visible) %></th>
        <td><%= f.check_box(:visible) %></td>
      </tr> 
		  <tr>
        <th><%= f.label(:content_type) %></th>
        <td><%= f.radio_button(:content_type, "text") %>Text</td>
        <td><%= f.radio_button(:content_type, "HTML") %>HTML</td>
      </tr>
     <!--  <tr>
  			<th>Date</th>
        <td><%= f.date_select(:created_at, :order => [:month, :day, :year]) %></td>
  		</tr>	 -->
  		<tr>
  			<th><%= f.label(:content) %></th>
  			<td><%= f.text_area(:content, :size => "40X100") %></td>
  		</tr>	
</table>